@font-face {
    font-family: TESCOSerif-Regular;
    src: url(./fonts/TESCO/TESCOSerif-Regular.ttf);
}

body{
    font-family: TESCOSerif-Regular;
    font-weight: 300;
    margin: 0px;
    color: black;
    border-top: 5px solid lightgray;
    background: linear-gradient(145deg,#020024,#fff 0,#9f9d9d);
    min-height: 100%;
}

.devour-logo{
    margin: 50px auto 0;
    max-width: 200px;
}
.devour-logo img{
    width: 100%;
}

.data{
    display: none;
}
header{
        margin: 50px auto 0;
        display: block;
        padding: 0;
}
header h2.with-lines {
    position: relative;
    font-size: 25px;
    font-family: TESCOSerif-Regular;
    font-weight: 300;
    text-align: center;
}

header h2.with-lines:before, header h2.with-lines:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 1px solid #000;
    width: 50px;
}

header h2.with-lines:after {
    top: auto;
    bottom: -25px;
}


h1{
    margin-bottom: 1em;
}
h3{
    text-transform: uppercase;
}
canvas{
    margin-left: -300px;
    padding-left: 50%;

}
button{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.status{
    display: none;
}
#go{
    width: 45%;

}
.room{
    margin: 0.25em;
    width: 100%;
}

.data{
    width: 175px;
    float: left;
    border-right: 1px solid lightgray;
    padding: 0 45px;
    position: absolute;
    min-height: 100%;
}
#countdown{
    margin: 1em 0;
    font-weight: bold;
    margin-top: -3em;
    font-size: 2em;
}
#rawMax6, #avgMax{
    font-weight: bold;
}

.rooms{
    margin: 5em 0;
}

p,h2{
    font-face:;
}

button{
    background: #000;
    display: inline-flex;
    font-family: TESCOSerif-Regular;
    justify-content: center;
    outline: none;
    border: none;
    color: #fff;
    align-items: center;
}

.vis-aid{
    text-align: center;
    position: absolute;
    width: 600px;
    top: 27.75em;
    left: 50%;
    margin-left: -300px;
}

.vis-aid.hide{
    display: none;
}

.countdown-background{
    width: 8em;
}

#baselining, #eating{
    position: absolute;
    top: -6em;
}
#baselining {
    color: black;
    background-color: white;
    padding: 0.5em  1em ;
    width: 7em;
    margin-left: -4.5em;
    border-radius: 5px;
}

#eating{
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    width: 7em;
    margin-left: -4.5em;
    border-radius: 5px;
}